/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.tr-ur-like-wrap{
	width: 110px;
    position: relative;
    top: 0;
    right: 0;
    float: left;
}
.tr-ur-like-wrap.tr-on span{
	cursor: pointer;
}
.tr-ur-like-wrap .tr-dislike, .tr-like{
	display: block;
    float: right;
}
.tr-ur-like-wrap .tr-dislike span {
	width: 23px;
    height: 34px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/rwp-like.png);
    background-repeat: no-repeat;
    background-size: 46px;
    background-position: 0px 0px;
}
.tr-ur-like-wrap .tr-dislike em, .tr-ur-like-wrap .tr-like em{
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    color: #e74343;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    font-style: normal;
}
.tr-ur-like-wrap .tr-like span{
    width: 23px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/rwp-like.png);
    background-repeat: no-repeat;
    background-size: 46px;
    background-position: 0px 0px;
}
.tr-ur-like-wrap .tr-like em {
    color: #56b258;
}
.tr-ur-like-wrap .tr-like span{
    background-position: -23px -0px;
    margin-right: 10px;
}
.tr-ur-like-wrap .tr-loader {
    width: 16px;
    height: 16px;
    background: url(../img/loader-2.gif);
    margin: 4px 6px 0 0;
    display: none;
}
.clear {
    clear: both;
}
.review-title {
    width: 100%;
}

.thumbs-reviews {
    border: 1px solid #ccc;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100px;
    border-collapse: collapse;
}

.review-meta {
    font-size: 0.7em;
    padding: 10px;
}

.thumbsup
{
    display: table-cell;
    height: 100px;
    margin:10px;
    border: 1px solid #ccc;
    padding: 10px;
}
 .thumbsdown
{
    display: table-cell;
    height: 100px;
    margin:10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-left: 5px;
}
.thumbs-title {
    background-color: #F5F5F5;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
.review-content {
    line-height: 1.5em;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
}
.thumbsup .review-content:last-child{
    border-bottom:0px;
}
.thumbsdown .review-content:last-child{
    border-bottom:0px;
}
#tr-review-form{
    display: none;
}
div#review h3 {
    display: inline;
    margin: 0;
    padding: 0;
    float: left;
}
#tr-review-form span.error {
    height: 17px;
    padding: 0px 5px;
    font-size: small;
    color: #99182c;
    background-color: #fff;
}
#tr-review-form input.error, textarea.error {
    border: 1px solid #99182c;
}

/* Small Devices, Tablets */
@media screen and ( max-width:768px ) {
    .thumbs-reviews .thumbsup, .thumbs-reviews .thumbsdown {
        width: 95%;
        display: block;
        height: auto;
        margin: 2%;
        padding: 2%;
    }
}
